html,
body,
#app,
.layout-wrapper {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background-color: #f4f7fd;
}

*,
::after,
::before {
  box-sizing: border-box;
}

/* img {
  max-width: 100%;
  height: auto;
} */
